################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZinvoiceTransformer/v16
/bin/Release
/obj/x86/Release
/bin/Debug
/obj/x86/Debug
